{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {"node": 14}
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "app": "./app"
        }
      }
    ]
  ]
}
